@{
    ViewBag.Title = "FiveDaysWeather";
}

<h2>Five Days Weather</h2>
<h4>with average values</h4>
<h6> and much more details</h6>
<hr/>
@* input *@
<div>
    <div class="alert alert-danger" style="display: none;" id="errorMessage" role="alert">

    </div>
    <input id="cityInput" class="form-control" placeholder="Enter City Name"/>
</div>
<br/>
@* buttons *@
<div>
    <button type="submit" class="btn btn-outline-primary" onclick="CallWeatherApi();">Submit</button>
    <button class="btn btn-primary disabled" onclick="location.href = '@Url.Action("Index")'">Go back to menu</button>
</div>
<br/>


@* data holders x6 *@
@for (int i = 0; i <= 5; i++)
{
    <a class="btn btn-primary btn-block" onclick="toggle_visibility('dataHolder-@i');">
        <span id="day"> waiting...</span>
    </a>

    <div id="dataHolder-@i" style="display: none;" class="data-holder alert alert-dismissible alert-primary col-lg-12">
        <div class="row ">
            <div class="col ">
                <b> City: </b> <span id="name"> waiting...</span><br/>
                <b> Country: </b><span id="country"> waiting...</span><br/>
                <b> Latitude: </b><span id="lat"> waiting...</span><br/>
                <b> Longitude: </b><span id="lon"> waiting...</span><br/>
                <b> Visibility: </b><span id="visibility"> waiting...</span>m<br/>
                <b> Wind speed: </b><span id="wind"> waiting...</span>meters/sec<br/>
            </div>
            <div class="col">
                <b> Humidity: </b><span id="humidity"> waiting...</span>%<br/>
                <b> AvgPressure: </b><span id="pressure"> waiting...</span>hPa<br/>
                <b> Temperature: </b><span id="temp"> waiting...</span>&deg; C<br/>
                <b> Temperature feels like: </b><span id="tempfeelslike"> waiting...</span>&deg; C<br/>
                <b> Min temperature: </b><span id="minTemp"> waiting...</span>&deg; C<br/>
                <b> Max temperature:: </b><span id="maxTemp"> waiting...</span>&deg; C<br/>
            </div>
        </div>
    </div>
}




@*Api call and print data from json*@

<script>
    function CallWeatherApi() {

        var action = '@Url.Action("GetWeatherForFiveDays")';

        var city = $("#cityInput").val();

        if (city.trim().length === 0) {
            var div = document.getElementById('errorMessage');
            $('#errorMessage').css('display', 'block');
            div.innerHTML = 'Please enter a City';
            div.show();

        } else {
            var url = action + "?city=" + city;
            $.ajax({
                url: url,
                method: 'GET',
                success: function (response) {
                    if (response.length === 0) {
                        alert('Invalid city name');
                    }
                    else {
                        var value = JSON.parse(response);
                        console.log(response);
                        $('#name').html(value.CityName);
                        $("#country").html(value.CountryName);
                        $("#lat").html(value.Coords[0].lat);
                        $("#lon").html(value.Coords[0].lon);
                        $("#humidity").html(value.DataByDay[0].AvgHumidity);
                        $("#tempfeelslike").html(value.DataByDay[0].AvgFeelsLike);
                        $("#visibility").html(value.DataByDay[0].AvgVisibility);
                        $("#wind").html(value.DataByDay[0].AvgWindSpeed);
                        $("#temp").html(value.DataByDay[0].AvgTemp);
                        $("#maxTemp").html(value.DataByDay[0].AvgMaxTemp);
                        $("#minTemp").html(value.DataByDay[0].AvgMinTemp);
                        $("#pressure").html(value.DataByDay[0].AvgPressure);
                        $("#day").html(value.DataByDay[0].DayTime);
                    }
                }
            });
        }
    }
</script>

<script>
    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if (e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';
    }
</script>